@media screen and (min-width: 768px) {
  .header {
    display: block;
    background: linear-gradient(to right, #ffffff 30%, #ebf1f7 30%);
  }
}
@media screen and (min-width: 1440px) {
  .header {
    display: block;
    background: linear-gradient(to right, white 22%, #ebf1f7 22%);
  }
}
@media screen and (min-width: 1680px) {
  .header {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .header__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header__left {
    padding: 20px 140px 30px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header__left {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1680px) {
  .header__left {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__right {
    margin-right: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__right {
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header,
.menu {
    display: none;
  }
}

.mobile-header__link {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #0056a3;
  text-decoration: none;
  font-size: 32px;
}

.mobile-header__title {
  margin-bottom: -6px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-nav {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #004380;
}

.mobile-nav__item {
  border-bottom: 1px solid white;
}

.mobile-nav__link {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 600;
  color: white;
}

.mobile-menu__checkbox:checked ~ .mobile-nav {
  display: block;
}

.mobile-menu__toggler {
  cursor: pointer;
  display: block;
  background-color: #004380;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus,
.mobile-nav__link:active {
  background-color: #ebf1f7;
  color: #004380;
}

.mobile-menu__checkbox {
  position: absolute;
  left: -9999px;
}

.mobile-concact__right {
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
}

.mobile-concact__link {
  margin-right: 20px;
}

.mobile-concact__icon {
  height: 1.3em;
}

.mobile-menu__container {
  position: relative;
}

.mobile-concact__icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(316deg) brightness(104%) contrast(103%);
}

.swiper-m {
  background-image: url("../images/swiper-M.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 30px;
}
@media screen and (min-width: 768px) {
  .swiper-m {
    padding: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-m {
    padding: 180px;
  }
}
@media screen and (min-width: 1680px) {
  .swiper-m {
    height: 480px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: flex-end;
    color: #0056a3;
    text-decoration: none;
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .logo__title {
    margin-bottom: -6px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .contact,
.contact__left,
.contact__right {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .contact__left {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__right {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .contact__link--left,
.contact__link--right {
    margin-left: 40px;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .contact__link--left {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1680px) {
  .contact__link--left {
    margin-right: 80px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__link--left:hover,
.contact__link--right:hover,
.button:hover,
.contact__link--different:hover {
    background-color: #0f5499;
  }
}

@media screen and (min-width: 768px) {
  .contact__link--right {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon {
    display: block;
    padding: 11px;
    filter: invert(10%) sepia(100%) saturate(7499%) hue-rotate(200deg) brightness(89%) contrast(101%);
  }
}

@media screen and (min-width: 768px) {
  .contact__icon:hover {
    padding: 11px;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon:hover,
.button-img:hover {
    filter: invert(60%) sepia(97%) saturate(386%) hue-rotate(3deg) brightness(102%) contrast(107%);
  }
}

@media screen and (min-width: 768px) {
  .contact__icon--different:hover {
    filter: none;
  }
}

@media screen and (min-width: 768px) {
  .contact__search {
    display: flex;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__search {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1680px) {
  .contact__search {
    margin-left: 10px;
    margin-right: 160px;
  }
}

@media screen and (min-width: 768px) {
  .form__label,
.form__input {
    display: block;
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .form__input {
    height: 40px;
    border: 0;
    padding: 20px;
  }
}
@media screen and (min-width: 1680px) {
  .form__input {
    width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .button {
    margin-left: 40px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    margin: 40px;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .button-img {
    display: block;
    padding: 11px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}

@media screen and (min-width: 1680px) {
  .menu__nav {
    background-color: #004380;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }
}
@media screen and (min-width: 1680px) {
  .nav {
    max-width: 1680px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: block;
    background-color: #004380;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    padding: 20px 40px;
    border: 1px solid #0056a3;
    font-weight: 400;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-link {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nav-link:hover,
.nav-link:focus,
.nav-link:active {
    background-color: #fbbb0e;
    color: #003566;
  }
}

.quick-links {
  padding: 0;
  max-width: 1680px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .quick-links {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .quick-links {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.links {
  display: grid;
  text-align: center;
  gap: 10px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .links {
    margin: 20px 80px 0 80px;
  }
}
@media screen and (min-width: 1440px) {
  .links {
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1600px) {
  .links {
    margin: 0;
    margin-top: 50px;
  }
}

.links__item {
  background-color: #ebf1f7;
  text-decoration: none;
  color: #0f5499;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
}
@media screen and (min-width: 768px) {
  .links__item {
    padding: 20px 0;
    font-size: 22px;
  }
}

.links__item:hover {
  color: #fbbb0e;
  background: transparent linear-gradient(116deg, #004380 0%, #002240 100%) 0% 0% no-repeat padding-box;
}

@media screen and (min-width: 768px) {
  .links__img {
    margin-bottom: 10px;
  }
}

.links__text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .events {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 0 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .events {
    margin-bottom: 60px;
  }
}

.events__title {
  text-transform: uppercase;
  margin: 20px 0;
  color: #0056a3;
}
@media screen and (min-width: 768px) {
  .events__title {
    font-size: 28px;
    margin-left: 20px;
    font-weight: 700;
  }
}

.events__element {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .events__element {
    flex-direction: row;
    margin: 0 20px;
  }
}

.events__img {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .events__img {
    max-width: 100%;
    max-width: 190px;
    margin-right: 20px;
  }
}

.events__link {
  text-transform: uppercase;
  color: #007af2;
}
@media screen and (min-width: 768px) {
  .events__link {
    display: inline-block;
  }
}

.events__link:hover {
  text-decoration: none;
  color: #004380;
}

@media screen and (min-width: 768px) {
  .events__subtitle {
    font-size: 22px;
    font-weight: 500;
  }
}

.events__calendar {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.events__date-icon {
  height: 14px;
  margin-right: 10px;
}

.events__date {
  margin: 0;
  color: #004380;
  font-style: italic;
}

.events__description {
  font-style: italic;
}

.partnersbar {
  background-color: #ebf1f7;
  padding: 20px 0 0 0;
  max-width: 100%;
}

.partners {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .partners {
    max-width: 1100px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .partners {
    flex-direction: row;
    align-items: center;
  }
}

.partners__subtitle {
  color: #0056a3;
  margin: 0 0 20px 20px;
  font-weight: 600;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .partners__subtitle {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .partners__subtitle {
    font-size: 36px;
    padding: 0;
    margin: 0;
  }
}

.partners__elements {
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .partners__elements {
    flex-basis: 35%;
  }
}

.partners__erb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  margin-top: 20px;
}
@media screen and (min-width: 1440px) {
  .partners__erb {
    margin-left: 120px;
  }
}

.partners__text {
  color: #0056a3;
}
@media screen and (min-width: 1440px) {
  .partners__text {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 700;
  }
}

.headerfooter {
  padding: 0;
  max-width: 100%;
}

.headerfooter__row {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 40px 15px;
}
@media screen and (min-width: 768px) {
  .headerfooter__row {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .headerfooter__row {
    flex-wrap: nowrap;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.headerfooter__col {
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .headerfooter__col {
    flex-basis: 25%;
    padding: 0;
  }
}

.headerfooter__title {
  color: #0056a3;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .headerfooter__title {
    font-size: 24px;
  }
}

.headerfooter__text {
  font-style: italic;
}

.headerfooter__link {
  color: #007af2;
}

.headerfooter__link:hover {
  text-decoration: none;
}

.headerfooter {
  background-color: #ebf1f7;
}
@media screen and (min-width: 768px) {
  .headerfooter {
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 200px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .headerfooter__iframe {
    padding: 0;
  }
}

.headerfooter__map {
  height: 300px;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .headerfooter__map {
    width: 600px;
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .headerfooter__map {
    max-width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .headerfooter__map {
    height: 400;
    width: 780px;
  }
}

.footer {
  background-color: #004380;
  max-width: 100%;
  padding: 20px;
  padding-top: 30px;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__flex {
    flex-direction: row;
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__left {
    display: flex;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__right {
    text-align: right;
  }
}

.footer img {
  margin-bottom: 20px;
  max-width: 100%;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .footer img {
    width: 105px;
    margin-right: 20px;
  }
}

.footer p {
  color: white;
}

.footer__link {
  color: white;
}

.footer__link:hover {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .header,
.partnersbar {
    border-top: 5px solid transparent;
    -o-border-image: linear-gradient(to right, #0056a3 25%, #fbbb0e 25%, #fbbb0e 50%, #b10b22 50%, #b10b22 75%, #1ba300 75%) 1;
       border-image: linear-gradient(to right, #0056a3 25%, #fbbb0e 25%, #fbbb0e 50%, #b10b22 50%, #b10b22 75%, #1ba300 75%) 1;
  }
}

@media screen and (min-width: 768px) {
  .events__element {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #dae6f2;
  }
}

@media screen and (min-width: 768px) {
  .events__img {
    padding: 0;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

.events__link, .events__date, .events__description, .headerfooter__text, .headerfooter__link {
  font-family: "Mulish", sans-serif;
}/*# sourceMappingURL=style.css.map */