@media screen and (min-width: 768px) {

    .contact, .contact__left, .contact__right {
        display: flex;
        align-items: center;
      }
    
    
      .contact__link--left, .contact__link--right {
        margin-left: 40px;
      }

      .contact__link--specific {
        display: block;
      }

      .contact {
        flex-direction: column;
      }
      .contact__right {
        flex-direction: row;
      }

      .contact__link--right {
        margin: 0;
      }

      .contact__link--left, .contact__link--right {
        display: block;
      }
      .contact__link--left:hover, .contact__link--right:hover, .button:hover, .contact__link--different:hover {
        background-color: #0F5499;
      }

      .contact__icon {
        display: block;
        padding: 11px;
      }

      .contact__icon:hover {
        padding: 11px;
      }
      .contact__icon {
        filter: invert(10%) sepia(100%) saturate(7499%) hue-rotate(200deg) brightness(89%) contrast(101%);
      }
      .contact__icon:hover, .button-img:hover {
        filter: invert(60%) sepia(97%) saturate(386%) hue-rotate(3deg) brightness(102%) contrast(107%);
      }
      .contact__icon--different:hover {
        filter: none;
      }

}


@media screen and (min-width: 1280px) {
    .contact {
      flex-direction: row;
    }
    .contact__left {
      margin-right: 40px;
      margin-bottom: 0;
    }
    .contact__link--left {
      margin-left: 60px;
    }

}


@media screen and (min-width: 1680px) {

    .contact__link--left {
        margin-right: 80px;
        margin-left: 0;
      }

}

