@use "_base";

.contact__search {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1680px) {
    margin-left: 10px;
    margin-right: 160px;
  }
}

.form__label,
.form__input {
  @media screen and (min-width: 768px) {
    display: block;
    font-style: italic;
  }
}

.form__input {
  @media screen and (min-width: 768px) {
    height: 40px;
    border: 0;
    padding: 20px;
  }

  @media screen and (min-width: 1680px) {
    width: 310px;
  }
}

.button {
  @media screen and (min-width: 768px) {
    margin-left: 40px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    margin: 40px;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
  }
}

.button-img {
  @media screen and (min-width: 768px) {
    display: block;
    padding: 11px;
  }
}
