@use '_base';

.events__element {
    display: flex;
    flex-direction: column;
}

.events__title {
    text-transform: uppercase;
    margin: 20px 0;
    color: base.$color-text;
}

.events__link {
    text-transform: uppercase;
    color: base.$color-link;

}

.events__link:hover {
    text-decoration: none;
    color: base.$color-primary;
}

.events__img {
    margin-bottom: 20px;
}

.events__calendar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.events__date-icon {
    height: 14px;
    margin-right: 10px;
}

.events__date {
    margin: 0;
    color: base.$color-primary;
    font-style: italic;
}

.events__description {
    font-style: italic;
}


@media screen and (min-width: 768px) {

    .events__element {
        flex-direction: row;
        margin: 0 20px;
    }

    .events__title {
        font-size: 28px;
        margin-left: 20px;
    }

    .events__img {
        max-width: 100%;
        max-width: 190px;
        margin-right: 20px;
    }

    .events {
        max-width: 1100px;
        margin: 0 auto;
        padding: 70px 0 0 0;
    }

    .events__subtitle {
        font-size: 22px;
    }

    .events__link {
        display: inline-block;
    }

}

@media screen and (min-width: 1024px) {

    .events {
        margin-bottom: 60px;
    }

}


