@use "_base";

.events__element {
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #dae6f2;
  }
}

.events__img {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
