@use '_base';

.headerfooter {
    background-color: base.$color-secondary;
}

@media screen and (min-width: 768px) {

.headerfooter {
    background-image: url("../images/footer.png"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    max-width: 100%;
    padding-bottom: 200px;
    padding-top: 50px;
}

}