@use '_base';

.headerfooter__map {
    height: 300px;
    width: 100%;
    padding: 0;
}


@media screen and (min-width: 768px) {

    .headerfooter__map {
        width: 600px;
        height: 400px;
    }

}

@media screen and (min-width: 1280px) {

    .headerfooter__map {
        max-width: 100%;
    }

    .headerfooter__iframe {
        padding: 0;
    }

}

@media screen and (min-width: 1920px) {

    .headerfooter__map {
        height: 400;
        width: 780px;
    }

}