@use "_base";

.header {
  @media screen and (min-width: 768px) {
    display: block;
    background: linear-gradient(to right, #ffffff 30%, #ebf1f7 30%);
  }

  @media screen and (min-width: 1440px) {
    display: block;
    background: linear-gradient(to right, white 22%, #ebf1f7 22%);
  }

  @media screen and (min-width: 1680px) {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.header__container {
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.header__left {
  @media screen and (min-width: 768px) {
    padding: 20px 140px 30px 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 80px;
  }

  @media screen and (min-width: 1680px) {
    padding-left: 0;
  }
}

.header__right {
  @media screen and (min-width: 768px) {
    margin-right: 20px;
    padding: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 80px;
  }
}

.header__row {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
