@use "_base";

.menu {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.menu__nav {
  @media screen and (min-width: 1680px) {
    background-color: base.$color-primary;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }

  @media screen and (min-width: 1680px) {
    max-width: 1680px;
    margin: 0 auto;
  }
}

.nav-item {
  @media screen and (min-width: 768px) {
    flex: 1 1 auto;
    text-align: center;
    display: inline-block;
  }
}

.nav-link {
  @media screen and (min-width: 768px) {
    display: block;
    background-color: base.$color-primary;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    padding: 20px 40px;
    border: 1px solid base.$color-text;
    font-weight: 400;
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding: 20px;
  }
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  @media screen and (min-width: 768px) {
    background-color: base.$color-hover;
    color: #003566;
  }
}
