@use "_base";

.header,
.menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-header__link {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: base.$color-text;
  text-decoration: none;
  font-size: 32px;
}

.mobile-header__title {
  margin-bottom: -6px;
  margin-right: 10px;
}
